#register-form {
  .contribution-level-wrapper {
    .contribution-header {
      font-size: 1rem;
      font-weight: bold;
    }
    .is-matched {
      font-weight: bold;
    }
  }

  .invalid-feedback {
    display: block;
  }
}
