@import "variables";

#supporting-companies-page {
  .headers-wrapper {
    text-align: center;
  }

  .join-image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-bottom: 3rem;
  }

  #join-us-row {
    text-align: center;
  }
}
