<!DOCTYPE html>
<html lang="en">

<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html
  for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link
    rel="stylesheet"
    id="x-google-fonts-css"
    href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic%2C600&amp;subset=latin%2Clatin-ext&amp;ver=5.1.1"
    type="text/css"
    media="all"
  />

  <title>National Excavator Initiative</title>
</head>
<body>
  <div id="app"></div>
</body>

</html>
